<div class="row justify-content-center">
    <div class="col-md-10">
        <mdb-carousel class="mb-5 p-3 border border-dark" [controls]="true" [indicators]="true" [animation]="'fade'">
            <mdb-carousel-item *ngFor="let carousel of carousels">
                <app-carousel-item [urlImage]="carousel.urlImage" [label]="carousel.label"
                    [simpleDescription]="carousel.simpleDescription">
                </app-carousel-item>
            </mdb-carousel-item>
        </mdb-carousel>
    </div>
</div>